.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.container {
  position: relative;
  top:100px;
}

.thumbnail {
    background-color:#4ce600;
    border-bottom:1px solid #dbdbdb;
}

.button { 
float:left;
color: #333;
width: auto;
text-align: center;
padding: 0 10px;
background: #f0f0f0;
line-height: 1.5em;
height: auto;
}

.button.active {
background: #ea0000;
color: #ff0000;
}